/* Placeholder for e.g. imports? I guess...*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* This is mainly for the first part */

footer,
header {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0 250px;
  display: flex;
}
footer {
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
}

.headerLogo {
  font-size: 24px;
  font-weight: bold;
}

.linklist {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.secondaryText {
  font-size: 18px;
  color: #e5e7eb;
}

/* This is mainly for the second part */

.hero {
  background-color: #1F2937;
  padding: 100px 250px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.heroText {
  max-width: 50%;
  height: auto;
}

.heroMainText {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 20px 0;
}

.heroButton {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #e5e7eb;
  border: none;
  border-radius: 5px;
  background-color: #3882f6;
  padding: 10px 30px;
}
.heroButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #2075fd;
}

.heroImg {
  max-width: 100%;
}

/* This is mainly for the third part */

.information {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.infoHeading {
  padding-top: 20px;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.infoBoxes {
  padding-bottom: 20px;
  display: flex;
  flex: auto;
  gap: 75px;
}

.eachBox {
  margin: 0;
  width: 200px;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.infoText {
  text-align: center;
  color: #4b4b4b;
}

.roundedBox {
  margin: 0;
  width: 200px;
  height: 200px;
  border: solid 5px #3882f6;
  border-radius: 15px;
}

/* This is mainly the fourth part */

.quoteContainer {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.quoteTextCont {
  margin: 0;
  padding-top: 50px;
  width: 1000px;
  height: 190px;
  display: flex;
  flex: auto;
}

.quoteText {
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
}

.quoteAuthor {
  margin-left: auto;
  margin-right: 450px;
  padding-bottom: 50px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

/* This is mainly for the fourth part */

.signUpContainer {
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
}

.signUp {
  background-color: #3882f6;
  border-radius: 10px;
  width: 1100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signUpText {
  margin-left: 80px;
  padding: 40px;
  font-size: 20px;
  color: #e5e7eb;
  display: flex;
  flex-flow: column;
}
.signUpText p {
    margin: 2px;
}

.signUpButton {
  margin-right: 80px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #e5e7eb;
  border: solid 2px #e5e7eb;
  border-radius: 5px;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: center;
}